# dependencies
/app1/node_modules
/app2/node_modules
/.vscode

/app1/dump.rdb
/app2/dump.rdb

/app1/package-lock.json
/app2/package-lock.json

/app1/npm-debug.log
/app2/npm-debug.log

/app1/.env
/app2/.env

.DS_Store

data